<div class="modal-body">
    <h3>Candidate notes - <span style="font-style: italic; font-size: 18px;">{{notes.candidate.first_name + ' ' + notes.candidate.last_name}}</span></h3>
    <i ng-click="notes.cancel()" class="fa fa-times" aria-hidden="true"></i>

    <div class="modal-container">
        <div class="table-wrapper modal-table" ng-if="notes.candidate.notes.length > 0">
            <table class="table-striped">
                <thead>
                <tr>
                    <th>author</th>
                    <th>notes</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="note in notes.candidate.notes track by $index">
                    <td>{{note.author}}</td>
                    <td>{{note.comment}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="no-notes" ng-if="notes.candidate.notes.length === 0">
            <h3>NO NOTES FOR THIS CANDIDATE</h3>
        </div>
        <div class="actions">
            <button ng-click="notes.showNewNote = true" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> NEW NOTE</button>
        </div>
        <form ng-if="notes.showNewNote" ng-submit="notes.addNote(notes.candidate._id)">
                    <div class="form-group">
                        <label for="comment">Note</label>
                        <textarea type="text" class="form-control" id="comment" ng-model="notes.newNote"></textarea>
                    </div>
                    <button class="btn btn-primary">ADD</button>
        </form>
    </div>
</div>