<div class="modal-body">
    <h3>Delete candidate - {{deleteCandidate.candidate.first_name + ' ' + deleteCandidate.candidate.last_name}} </h3>


    <div class="modal-container" style="text-align: right">
        <button class="btn btn-danger" ng-click="deleteCandidate.confirmDeletion()">CONFIRM</button>
        <button class="btn btn-default" ng-click="deleteCandidate.cancel()">CANCEL</button>
    </div>
</div>