<navbar></navbar>
<div class="container">
    <div class="title">
        <h1>Candidates List</h1>
        <div class="actions">
            <button ng-click="main.openAddNewCandidate()" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add new Candidate</button>
        </div>
    </div>
    <div class="table-wrapper main-table">
        <table class="table-striped">
            <thead>
            <th ng-click="main.sortCandidates('first_name')">first name <span ng-click="main.toggleDirection()"><i class="fa fa-caret-up" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
            <th ng-click="main.sortCandidates('last_name')">last name <span ng-click="main.toggleDirection()"><i class="fa fa-caret-up" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
            <th>skills</th>
            <th ng-click="main.sortCandidates('date')">application date <span ng-click="main.toggleDirection()"><i class="fa fa-caret-up" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i></span></th>
            <th>CV</th>
            <th>actions</th>
            </thead>
            <tbody>
            <tr ng-repeat="candidate in main.candidates.slice">
                <td>{{candidate.first_name}}</td>
                <td>{{candidate.last_name}}</td>
                <td><span ng-repeat="skill in candidate.skills">{{skill.text}}</span></td>
                <td>{{candidate.date | date:'dd.MM.yyyy'}}</td>
                <td><a target="_blank" ng-href="https://boiling-cliffs-96474.herokuapp.com/cvs/one_pdf_to_fit_all">{{candidate.cv_file_name}}</a></td>
                <td>
                    <button ng-click="main.openCandidateNotes(candidate)" class="btn btn-default"><i class="fa fa-commenting-o" aria-hidden="true"></i></button>
                    <button ng-click="main.openEditCandidate(candidate)" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    <button ng-click="main.deleteCandidate(candidate)" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <p class="page-no-indicator">Page {{main.candidates.page + 1}} of {{main.candidates.total_pages}}</p>
        <nav>
            <ul class="pager">
                <li ng-class="{'disabled': main.params.page == 0}">
                    <a ng-click="main.previousPage()">PREVIOUS</a>
                </li>
                <li ng-class="{'disabled': main.candidates.page + 1 == main.candidates.total_pages}">
                    <a ng-click="main.nextPage()">NEXT</a>
                </li>
            </ul>
        </nav>
    </div>
</div>