<div class="modal-body">
    <h3>Edit Candidate - <span style="font-style: italic; font-size: 18px;">{{edit.candidate.first_name + ' ' + edit.candidate.last_name}}</span></h3>
    <i ng-click="edit.cancel()" class="fa fa-times" aria-hidden="true"></i>


    <div class="modal-container">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="firstname">first name</label>
                        <input type="text" class="form-control" id="firstname" ng-model="edit.candidate.first_name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lastname">last name:</label>
                        <input type="text" class="form-control" id="lastname" ng-model="edit.candidate.last_name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="skills">skills:</label>
                        <tags-input ng-model="edit.candidate.skills" placeholder="Add skills" id="skills">
                        </tags-input>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="cv">CV url:</label>
                        <input type="text" class="form-control" id="cv" ng-model="edit.candidate.cv_uri">
                    </div>
                </div>
            </div>
            <div class="submit-wrapper" style="text-align: right; padding-top: 20px">
                <button ng-click="edit.editCandidate(edit.candidate)" type="submit" class="btn btn-primary">SUBMIT</button>
            </div>

        </form>
    </div>
</div>