<div class="modal-body">
    <h3>Add New Candidate</h3>
    <i ng-click="addNew.cancel()" class="fa fa-times" aria-hidden="true"></i>

    <div class="modal-container">
        <form ng-submit="addNew.addCandidate()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="firstname">first name</label>
                        <input type="text" class="form-control" id="firstname" ng-model="addNew.candidate.first_name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lastname">last name:</label>
                        <input type="text" class="form-control" id="lastname" ng-model="addNew.candidate.last_name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="skills">skills:</label>
                        <tags-input ng-model="addNew.candidate.skills" id="skills">
                        </tags-input>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="cv">CV url:</label>
                        <input type="text" class="form-control" id="cv" ng-model="addNew.candidate.cv_uri">
                    </div>
                </div>
            </div>
            <div class="submit-wrapper" style="text-align: right; padding-top: 20px">
                <button type="submit" class="btn btn-primary">SUBMIT</button>
            </div>

        </form>
    </div>
</div>