/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.table-wrapper.main-table {
  table {
    width: 100%;
    thead {
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
      th {
        color: #9d9d9d;
        font-size: 12px;
        padding-bottom: 20px;
        text-transform: uppercase;
        cursor: pointer;
        &:first-child {
          padding-left: 10px;
          width: 12%;
        }
        &:nth-child(2) {
          width: 12%;
        }
        &:nth-child(3) {
          width: 25%;
        }
        &:nth-child(4) {
          width: 15%;
        }
        &:nth-child(5) {
          width: 15%;
        }
        &:last-child {
          text-align: right;
        }
        span{
          &:hover{
          i{
              color: #000;
            }
          }
        }
        i.fa-caret-down, i.fa-caret-up{
          position: relative;
        }
        i.fa-caret-up{
          left: 10px;
          top: -4px;
        }
        i.fa-caret-down{
          top: 2px;
        }
      }
    }
    tbody {
      tr {
        height: 50px;
        td {
          &:first-child {
            padding-left: 10px;
          }
          &:last-child {
            text-align: right;
          }
          span {
            background-color: #1b6d85;
            padding: 5px 6px;
            margin-right: 6px;
            color: #fff;
          }
        }
      }
    }
  }
}

.table-wrapper.modal-table {
  table {
    width: 100%;
    thead {
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
      th {
        color: #9d9d9d;
        font-size: 12px;
        padding-bottom: 20px;
        text-transform: uppercase;
        &:first-child {
          padding-left: 10px;
          width: 30%;
        }

      }
    }
    tbody {
      tr {
        height: 50px;
        td {
          &:first-child {
            padding-left: 10px;
          }
          span {
            background-color: #1b6d85;
            padding: 5px 6px;
            margin-right: 6px;
            color: #fff;
          }
        }
      }
    }
  }
}

.title{
  position: relative;
  h1{
    color: #444444;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 50px;
  }
  .actions{
    position: absolute;
    right: 0;
    top:0;

  }
}

.modal-content{
  border-radius: 0;
}

@media screen and (min-width: 768px) {
  .modal-dialog.modal-md {
    width: 440px;
    margin: 30px auto;
    h3{
      margin-bottom: 40px;
    }
  }
  .modal-dialog.modal-lg {
    width: 600px;
    margin: 30px auto;
    h3{
      padding-bottom: 10px;
      border-bottom: 1px solid #dddddd;
      margin-bottom: 30px;
    }
    input{
      border-radius: 0;
    }
    label{
      text-transform: uppercase;
      font-size: 11px;
    }
    .no-notes{
      text-align: center;
      h3{
        color: #dddddd;
        padding-bottom: 30px;
        padding-top: 30px;
        border-bottom: none;
      }
    }
    .actions{
      text-align: right;
      padding-top: 15px;

    }
    i.fa-times{
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 16px;
      cursor: pointer;
    }
  }
}

.btn:focus{
  outline: none;
}

.pagination{
  display: block;
  margin-left: auto;
  margin-right: auto;
  .page-no-indicator{
    text-align: right;
    border-top: 1px solid #dddddd;
    padding-top: 6px;
  }
  li{
    cursor: pointer;
    margin: 6px;
  }
  li.disabled{
    cursor: not-allowed;
    pointer-events: none;
    a{
      color: #ddd;
    }
  }
}

tags-input .tags{
  box-shadow: none;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
